body {
  background: url("./assets/img/23660-star-wars.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.gf-header {
  display: flex;
  justify-content: flex-end;
  color: aqua;
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
